<nav class="col-md-12">
  <div id="main-nav-bar" class="navbar">
    <ul class="nav navbar-nav" data-hook>
      <li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
      <li id="link-to-cart" data-hook>
        <%= render partial: 'spree/shared/link_to_cart' %>
      </li>
    </ul>
  </div>
</nav>
